@import "../../constants/variables";

.home--wrapper {
  display: grid;
  place-items: center;
  .home--wrapper--container--two {
    position: absolute;
    top: 140px;

    position: absolute;
    top: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input--search {
      outline: none;
      border: none;
      padding: 10px 30px;
      position: relative;
      &:focus {
        box-shadow: 14px -5px 0px 0px orange;
        transition: 1s ease-in-out;
      }
    }

    .button--search {
      outline: none;
      border: none;
      margin-left: 10px;
      padding: 10px 30px;
      cursor: pointer;
    }

    .box--list {
      margin-top: 20px;
      padding: 10px 30px;
      width: 400px;
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 99;
      position: relative;
      background-color: $white-color;
      @media (min-width: 500px) and (max-width: 800px) {
        width: 300px;
        height: 250px;
      }
      @media (max-width: 500px) {
        height: 290px;
        width: 300px;
      }

      .logo--box {
        width: 200px;
        margin: auto;
        display: block;
      }
      > h2 {
        text-align: center;
        position: relative;
        top: 30px;
      }

      &.active {
        transition: 0.9s;
      }
    }
  }
}

::-webkit-scrollbar {
  background-color: #435258;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #435258;
}
