@import "../../constants/variables";

.headerWrapper {
  height: $header-height;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 700px) {
    padding: 0 20px;
  }
  .logo {
    margin: 25px;
    z-index: 9999;

    > img {
      width: 50px;
      animation: roll 2s linear infinite;
      transform-style: preserve-3d;
      transform: rotate(365deg) translateZ(0);

      /*  @keyframes roll {
        0% {
          transform: rotateZ(0);
        }
        100% {
          transform: rotateZ(365deg);
        }
      } */
    }
  }
  .link {
    margin: 25px;

    .linkItem {
      text-decoration: none;
      color: $white-color;
      &:hover {
        color: orange;
        transition: 0.2s;
      }

      &.active {
        color: orange;
      }
    }
    .linkItem:first-child {
      margin-right: 70px;
      @media (max-width: 700px) {
        margin-right: 40px;
      }
    }
  }
}
