@import "../../constants/variables";

.headerWrapper {
  height: $header-height;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 700px) {
    padding: 0 20px;
  }
  .logo {
    margin: 25px;
    z-index: 9999;

    > img {
      width: 50px;
      animation: roll 2s linear infinite;
      transform-style: preserve-3d;
      transform: rotate(365deg) translateZ(0);
    }
  }
  .link {
    margin: 25px;

    .linkItem {
      text-decoration: none;
      color: $white-color;
      position: relative;
      &:hover {
        color: orange;
        transition: 0.2s;
      }

      &.active {
        color: orange;
      }

      .length--fav {
        position: absolute;
        top: -10px;
        color: aliceblue;
        font-weight: bolder;
      }
    }
    .linkItem:first-child {
      margin-right: 70px;
      @media (max-width: 700px) {
        margin-right: 40px;
      }
    }
  }
}

@keyframes big {
  0% {
    transform: scale(0);
  }
  0% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}
