@import "../../constants/variables";

.footerWrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  border-top: 1px solid rgb(92, 92, 92);
  background-color: rgb(27, 27, 27);
  .linkSocialMedia {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    > i {
      width: 40px;
      height: 40px;
      color: $black-color;
      display: grid;
      place-content: center;
      border-bottom: 1px solid rgb(107, 107, 107);
      cursor: pointer;
      @media (max-width: 700px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .wrapp--events {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap row;
    width: 90%;
    .events {
      color: $white-color;
      display: block;
      margin: auto 0;
      line-height: 10px;
      @media (max-width: 800px) {
        line-height: 5px;
      }
      > strong {
        font-weight: 800;
      }

      > p {
        color: rgb(163, 163, 163);
      }
    }

    .events--one {
      color: $white-color;
      display: block;
      margin: auto 0;
      line-height: 20px;

      @media (max-width: 800px) {
        line-height: 10px;
      }
      > strong {
        font-weight: 800;
      }

      > p {
        b {
          color: rgb(189, 160, 105);
        }
        color: rgb(163, 163, 163);
      }
      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  .copyright {
    margin: auto 10px;
    > p {
      transform: rotate(90deg);
      color: $white-color;
    }
    .copyright--line--one {
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      transform: translateY(-10px) translateX(-2px);
    }
    .copyright--line--two {
      width: 20px;
      color: $white-color;
      transform: rotate(90deg) translateX(12px) translatey(2px);
    }
  }
}
